body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 /* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #121010;
  padding: 10px 20px;
  color: #A9B2AC;
}

.navbar-header {
  flex-grow: 1.0;
  text-align: center;
}

.navbar-links {
  display: flex;
}

.navbar-links a {
  margin-left: 20px;
  color: #A9B2AC;
  text-decoration: none;
  font-size: 18px;
}

 /* Jumbotron */

.jumbotron {
  background-image: url('./images/London\ bridge\ picture.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 220px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Optional: Add a subtle shadow */
}

.jumbotron h1 span {
  font-size: 2.5em;
  background-color: black;
  margin-bottom: 20px;
}


.jumbotron p span {
  font-size: 24px;
  background-color: #121010;
  max-width: 80%;
}

 /* Main */

  .about {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .about-content {
    flex: 1;
    padding-right: 20px
  }

  .about-img {
    flex: 1;
    padding-left: 20px;
  }

  .about-img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }