body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 /* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #121010;
  padding: 10px 20px;
  color: #A9B2AC;
}

.navbar-header {
  flex-grow: 1.0;
  text-align: center;
}

.navbar-links {
  display: flex;
}

.navbar-links a {
  margin-left: 20px;
  color: #A9B2AC;
  text-decoration: none;
  font-size: 18px;
}

 /* Jumbotron */

.jumbotron {
  background-image: url('./images/London\ bridge\ picture.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 220px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Optional: Add a subtle shadow */
}

.jumbotron h1 span {
  font-size: 2.5em;
  background-color: black;
  margin-bottom: 20px;
}


.jumbotron p span {
  font-size: 24px;
  background-color: #121010;
  max-width: 80%;
}

 /* Main */

  .about {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #a5a5a5;
  }

  .about-content {
    flex-basis: 100%;
    padding: 10px;
  }
  
  .about p {
    font-size: 20px;
    flex: 0.8;
  }

  .about h2 {
    font-size: 30px;
    font-style: oblique;
  }

  .about-img {
    flex-basis: 100%;
    padding: 10px;
  }

  .about-img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .content {
    padding: 50px;
    background-color: rgb(194, 194, 194);
  }

  .content h2 span {
    padding-bottom: 20px;
    font-size: 36px;
  }
  .sectionHeading {
    text-align: center;
    padding-bottom: 20px;
     font-size: 36px;
  }


  .showsNear  {
    padding: 0px 30px 30px 30px;
  }
  .cardContainer {
    text-align: center;
  }
  
  .container {
    height: 600px;
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: center;
  }


  /* Media Queries */
  @media (min-width: 600px) {
    .left-container,
    .right-container {
      flex-basis: calc(50% - 20px);
    }
  }

  @media only screen and (max-width: 600px) {
      .about-img {
        flex-direction: column; /* Changes the flex direction to column for smaller screens */
      }
  }